body{
    text-align:center;
    font-family: Arial;
    background-color: #9bf5f0;
    color: rgb(180, 180, 180);

}
img{
    border-radius: 10px;
    transition: 0.2s;

}
button{
    margin:10px;
    padding: 25px 30px;
    font-size: 15px;
}
#btnAcender {background-color: #fbff00;}
#btnApagar {background-color: #ff0000;}
#btnAuto {background-color: #002fff;}
#btnParar {background-color: #00ff4c;}